<!DOCTYPE html>
{% load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock%}</title>
    <link rel="stylesheet" href="{%static 'theme11.css'%}">
    <link rel="stylesheet" href="{%static 'formstyle.css'%}">
    <link rel="stylesheet" href="{%static 'buttonstyle.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />



    
</head>
<body>
    <div class="top">
        <div class="sitename"><h1>Online Testing System</h1></div>
        

            
            {% block top%}{% endblock%}

          
        </div>
        
    </div>
    <div class="content">
        {% block content%}{% endblock%}
    </div>
    <div class="footer">
        {% block footer%}{% endblock%}
    </div>
</body>
</html>