{% extends 'main.html' %}

{% block title %} ots-testpaper {% endblock title %}

{% block top %} 

{% endblock top %}
{% block content %}
<form action="{%url 'ots:calculatetest'%}" method="post">
    {% csrf_token %}
    {% for question in questions%}
    <div class="question">
        <input type="hidden" name="qno{{question.qid}}" value="{{question.qid}}">
        {{ question.que}}
    </div>
    <div class="options"><input type="radio" name="q{{question.qid}}" value="a">{{ question.a}}</div>
    <div class="options"><input type="radio" name="q{{question.qid}}" value="b">{{ question.b}}</div>
    <div class="options"><input type="radio" name="q{{question.qid}}" value="c">{{ question.c}}</div>
    <div class="options"><input type="radio" name="q{{question.qid}}" value="d">{{ question.d}}</div>
    <div class="clear"><input type="reset" value="clear"></div>
        <

        
    
    {% endfor %}
    <div><input type="submit" value="submit"></div>
</form>

{% endblock %}
