{% extends 'main.html' %}

{% block title %} Welcome to Online Testing System  {% endblock title %}

{% block top %} 
<a href="{% url 'ots:Registrationform'%}">Signup</a>
<a href="{% url 'ots:login'%}">Login</a>


{% endblock top %}
{% block content %}
<p>Welcome to online testing system</p>
{% endblock %}
{% block footer %}
<p>Welcome to online testing system and this page is designed to be used in your application</p>
          . <p>This will help you a lot to get started 
               quickly and praticising your application</p>
     <p>It would help a lot in necessary this to do so this time of working</p>

{% endblock footer %}

